PyQt5
PyQtWebEngine
pywikihow
pyaudio
googletrans
pyzbar
SpeechRecognition
playsound
twilio
bs4
pytube
pywhatkit
pillow
gTTs
wolframalpha
numpy
instaloader
speedtest-cli
pyautogui
wikipedia
qrcode
requests
pyttsx3
psutil
autopy
PyPDF2
opencv-python
mediapipe